**/*.map
**/*.ts
**/.eslintrc.json
**/tsconfig.json
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
out/test/**
src/**
vsc-extension-quickstart.md

.vscode
node_modules
src/
tsconfig.json
webpack.config.js
